// Fonts
$font-main: 'Merienda', sans-serif;
$font-additional: 'Atma', system-ui, serif;

// Colors
$color-background: #05425c;
$color-base: #08b11f;
$color-btn-base: #f4f4f4;
$color-btn-base-hover: #daedcd;
$color-option: #020003;
$color-bkg-modal: #b653ed;
$color-bkg-input: #126f97;
$color-bkg-btn: #db1f1f;
$color-bkg-btn-hover: #bd2020;
