// Fonts
$font-main: 'Merienda', sans-serif;
$font-additional: 'Atma', system-ui, serif;

// Colors
$color-background: #2e074a;
$color-base: #e7f1f7;
$color-btn-base: #f4f4f4;
$color-btn-base-hover: #daedcd;
$color-bkg-option: #532d68;
$color-bkg-modal: #b653ed;
$color-bkg-input: #dad5ef;
$color-bkg-btn: #db1f1f;
$color-bkg-btn-hover: #bd2020;
